@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}
body {
  transition: 0.3s ease;
}
.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.451);
  position: relative;
}

/* -------------------------------------------- */
/* NavBar */
.container-1 {
  height: 30vh;
  width: 100%;
  position: relative;
  padding-top: 2rem;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 5px 2px;
}

nav ul li a:hover {
  font-weight: bolder;
  border-bottom: 5px solid rgb(168, 20, 194);
}
.fa-times {
  opacity: 0;
}
.fa-bars {
  opacity: 0;
}
.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo a {
  text-decoration: none;
  padding-top: 0;
  font-size: 40px;
  color: #000;
  transition: 0.8s ease-in-out;
}
.logo a:hover {
  transform: translateY(-13px);
}
@media only screen and (max-width: 728px) {
  nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(159, 57, 177);
    z-index: 2;
    top: -100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 57, 177);
  }
  nav ul li {
    list-style: none;
    margin: 20px auto;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 3px;
    color: azure;
    background-color: rgb(159, 57, 177);
    position: relative;
  }
  nav ul li a::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: rgb(246, 246, 246);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.8s;
  }
  nav ul li a:hover::after {
    width: 100%;
    font-weight: lighter;
  }

  .fa-times {
    opacity: 1;
    font-weight: light;
    font-size: 30px;
    position: absolute;
    right: 80px;
    top: 50px;
    color: azure;
    background-color: rgb(159, 57, 177);
    cursor: pointer;
  }

  .fa-bars {
    opacity: 1;
    cursor: pointer;
    font-weight: light;
    font-size: 30px;
    position: absolute;
    color: #000;
    right: 50px;
    top: 45px;
  }
}

/* Commom Heading */
.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  border-bottom: 5px solid rgb(168, 20, 194);
}

.contact-box {
  display: flex;
  /* border: 2px solid rgb(168, 20, 194); */
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 60%;
  padding: 40px 60px;
  background: rgb(168, 20, 194);
  color: white;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 20px;
  font-weight: 400;
}
textarea {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 13px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
}
label {
  margin-bottom: 6px;
  display: block;
  font-weight: 700;
  font-size: 20px;
}

button {
  background: rgb(168, 20, 194);
  width: 100px;
  border: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  transition: 0.7s;
}
button:hover {
  background: rgb(107, 16, 123);
  font-weight: 600;
  transform: translateY(-5px);
}
.contact-left h3 {
  color: rgb(168, 20, 194);
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
}
.contact-right h3 {
  color: white;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
}

tr td:first-child {
  padding-right: 20px;
  font-size: 30px;
}
tr td {
  padding-top: 20px;
}

tr td a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
@media only screen and (max-width: 728px) {
  .contact-box {
    flex-direction: column;
    margin-top: 50px;
  }
}
footer {
  height: 10vh;
  width: 100%;
  color: #232527;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(53, 62, 62, 0);
}

footer p {
  font-size: 20px;
}
